* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: vazir;
    background-color: #4d4d4d;
}

@media (max-width: 1280px){
    .container-music-veiw {
        flex-direction: column;
        gap: 5rem;
    }

    .section-music {
        width: 60% !important;
        margin: 0 auto;
    }
}

@media (max-width: 700px){
    .section-music {
        width: 80% !important;
    }

    .first-div {
        background-size: cover !important;
        width: 100% !important;
    }
}

@media (max-width: 890px) {
    .section-music {
        display: block !important;
    }
    
    .baner-music {
        width: 100% !important;
    }

    .about-div {
        flex-direction: column;
        height: auto !important;
        text-align: center;
    }
    
    .s-right-about, .s-left-about {
        width: 100% !important;
    }

    
}

@media (max-width: 490px) {
    .left-section-header {
        display: none;
    }
    
    .hid-menu {
        display: block !important;
        cursor: pointer;
    }

    .section-music {
        width: 90% !important;
    }

    .baner-music {
        height: 28rem !important;
    }
}

@media (max-width: 400px) {

    html {
        font-size: 14px;
    }

    .baner-music {
        height: 20rem !important;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: transparent;
    padding: 1.4rem;
    z-index: 99;
}

.nav-container {
    display: flex;
    gap: 1.5rem;
}

.nav-list {
    list-style-type: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-list:hover {
    color: #FB5700;
}

.hid-menu {
    width: 20px;
    height: 2px;
    background-color: white;
    display: none;
}

.hid-menu::after {
    content: "";
    width: 20px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 26px;
    display: block;
}

.menu-cover {
    width: 20px;
    position: absolute;
    height: 20px;
    right: 22px;
    z-index: 9999;
    cursor: pointer;
}

.studio-name {
    color: white;
}

.first-div {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-image: url(./images/image\ \(2\).jpg);
    background-size: cover;
}

.title-icon, .disc, .title {
    text-align: center;
}

.title-icon {
    color: #895b25;
    font-size: 60px !important;
    margin-bottom: 1rem;
}

.title {
    background-image: linear-gradient(140deg,#ff5d05,#C981ED);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-inline: 20px;
    font-size: 3rem;
}

.disc {
    color: #D1D3D9;
}

.container-btn {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.play-last-btn {
    background-color: #FB5700;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 0.8rem 1.2rem;
    transition: all 0.3s;
}

.play-last-btn:hover {
    scale: 1.05;
    background-color: #d24a00;
}

.play-icon {
    margin-right: 10px;
}

.view-track-btn {
    border-radius: 30px;
    padding: 0.8rem 1.2rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.436);
    color: white;
    transition: all 0.4s;
}

.view-track-btn:hover {
    border-color: #FB5700;
    color: #FB5700;
}

.sec-div {
    background-color: #101828;
    padding: 5rem;
}


.sec-div h2 {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.sec-div h2 span {
    color: #fd8341;
}


.container-music-veiw {
    display: flex;
    gap: 3rem;
    margin: 4rem auto 0;
    margin-bottom: 5rem;
}

.section-music {
    border-radius: 15px;
    background-color: #1E2939;
    transition: all 0.3s;
    width: 100%;
    border: 1px solid wheat;
}

.section-music div {
    margin-bottom: 0.5rem;
}

.title-disc {
    color: #FB5700;
    text-align: right;
    margin: 1rem 0.6rem;
    font-size: 1rem;
}

.par-disc {
    text-align: justify;
    color: white;
    font-size: 0.9rem;
    margin: 1rem;
    direction: rtl;
}

.baner-music {
    width: 100%;
    height: 35rem;
    border-radius: 15px 15px 0 0;
}

.about-div {
    background-color: black;
    display: flex;
}

.title-about {
    color: white;
    padding-top: 5rem;
    text-align: center;
}

.title-about span {
    color: #fd8341;
}

.s-right-about, .s-left-about {
    width: 50%;
}

.s-right-about img {
    width: 100%;
    object-fit: cover;
    margin-top: 5rem;
    height: 30rem;
}

.s-left-about {
    padding: 2rem
}

.about-par {
    color: white;
    line-height: 36px;
    margin-top: 2.5rem;
    direction: rtl;
    text-align: justify;
}

.about-par span {
    font-size: 1.2rem;
    color: #ff9e6a;
}

.hid-name {
    display: none;
}